
/* MAIN CAROUSEL */ 

#carouselTextOne, #carouselTextTwo, #carouselTextThree, #carouselTextFour {
    color: white; 
    background: rgba(0, 0, 0, 0.4);
}

#carouselTitleTextOne, #carouselTitleTextTwo, #carouselTitleTextThree, #carouselTitleTextFour {
    font-size: 50px; 
}

#carouselImgOne, #carouselImgTwo, #carouselImgThree, #carouselImgFour {
    width: 100%;
    height: 900px; 
}

@media (max-width: 900px) {
    #carouselTitleTextOne, #carouselTitleTextTwo, #carouselTitleTextThree, #carouselTitleTextFour {
        font-size: 20px; 
    }
    
}