.roomViewContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1%; 
    margin-top: 1%; 
    padding-top: 2%;
    padding-bottom: 2%; 
    justify-items: center;
    align-items: center;

}

.roomViewRoomImage{
    background: rgba(255, 253, 208, 0.4);
    padding: 2%; 
}

.roomViewRoomImage, .roomViewViewImage {
    width: 90%; 
    height: 70%; 
}

.roomViewTextContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "TitleAndDesc TitleAndDesc"
    "TextAmenities ViewImage"; 
    justify-items: center;
    align-items: center;
    text-align: center; 
    
}

.roomViewTextTitleAndDescription {
    grid-area: TitleAndDesc;
    background: rgba(255, 253, 208, 0.4);
}


.roomViewTextTitle {
    font-size: 50px; 
}

.roomViewTextAmenities{
    grid-area: TextAmenities;
    background: rgba(255, 253, 208, 0.4);
    padding: 5%; 
}

.roomViewViewImageContainer {
    grid-area: ViewImage;
    background: rgba(255, 253, 208, 0.4);
    padding: 5%; 
}

.roomViewViewImage{
    height: 90%; 
}