.roomViewContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1%; 
    margin-top: 1%; 
    padding-top: 2%;
    padding-bottom: 2%; 
    justify-items: center;
    align-items: center;

}

.roomViewRoomImage{
    padding: 2%; 
}

.roomViewRoomImage, .roomViewViewImage {
    width: 90%; 
    height: 70%; 
}

.roomViewTextContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "TitleAndDesc TitleAndDesc"
    "TextAmenities ViewImage"; 
    justify-items: center;
    align-items: center;
    text-align: center; 
    
}

.roomViewTextTitleAndDescription {
    grid-area: TitleAndDesc;
}


.roomViewTextTitle {
    font-size: 50px; 
    border: black double 5px;
}

.roomViewTextAmenities{
    grid-area: TextAmenities;
    padding: 5%; 
    border: black double 5px;
}

.roomViewViewImageContainer {
    grid-area: ViewImage;
    padding: 5%; 
}

.roomViewViewImage{
    height: 90%; 
}

@media (max-width: 900px){
    .roomViewContainer {
        display: static;
        grid-template-columns: 1fr;
        margin-bottom: 1%; 
        margin-top: 1%; 
        padding-top: 2%;
        padding-bottom: 2%; 
        justify-items: center;
        align-items: center;
    
    }
    .roomViewRoomImage{
     height: 325px; 
    }
    
}