#footerContainer {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: black; 
    color: white; 
}

#test {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 2.5%; 
}

.footerKeyStoneLogo {
    height: 50%; 
}

#footerInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

}

#footerExploreContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#footerExploreButtonss{
    display: grid;
    grid-template-columns: 1fr 1fr;
}