#footerContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "footerKey footerKey footerKey"
    "footerButtons footerAddress footerNewsLetter";
    justify-items: center;
    background-color: black; 
    color: white; 
}

#footerLogoContainer{
    grid-area: footerKey;
    display: flex; 
    justify-items: center; 
    margin-top: 5%;
    margin-bottom: 5%; 
}

#footerKeyStoneLogo{
    width: 45px; 
    height: 75px; 
}

#footerExploreContainer{
    grid-area: footerButtons;
    text-align: center; 
}

#footerExploreButtons{
    display: grid; 
}

.footerExploreButton{
margin-top: 2%;
margin-bottom: 2%; 
background-color: black;
border: solid 2px white; 
color: white; 
}

#footerAddressContainer{
    grid-area: footerAddress;
    text-align: center;
}

#footerNewsletterContainer{
    grid-area:footerNewsLetter; 
    text-align: center;
}