#footerContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "footerKey footerKey footerKey"
    "footerButtons footerAddress footerNewsLetter";
    justify-items: center;
    background-color: black; 
    color: white; 
}

#footerLogoContainer{
    grid-area: footerKey;
    display: flex; 
    justify-items: center; 
    margin-top: 5%;
}

#footerKeyStoneLogo{
    width: 45px; 
    height: 75px; 
}

#footerExploreContainer{
    grid-area: footerButtons;
    text-align: center; 
    margin: 1%; 
}



#footerAddressContainer{
    grid-area: footerAddress;
    text-align: center;
    margin: 2%; 
}

#footerNewsletterContainer{
    grid-area:footerNewsLetter; 
    text-align: center;
    justify-items: center;
    margin: 2%; 
}

.footerNewsLetterInput{
    width: 66%; 
    margin: 2%; 
    padding: 1%; 
    background-color: rgba(155, 155, 155, .5);
    border: white solid 5px; 
    color: white; 
}

.footerNewsLetterInput::placeholder{
    color: white
}

#footerNewsLetterButton{
    width: 40%;
    margin: 2%;
    padding: 2%; 
    border: solid 2px white;
    background-color: black;
    color: white; 
}

#footerNewsLetterButton:hover{
    background-color: white;
    border: solid 2px black;
    color: black;
    cursor: pointer;
}