/* Room Section One */

#roomsSectionOne{
    background-image: url('../../Images/HotelInteriorThree.jpeg');
    height: 750px; 
    background-size: cover;
 }

 #roomsSectionOne h1 {
    position: relative;
    top: 50%; 
    color: white; 
    text-align: center;
 }

/* Room Section Two */ 

#roomSectionTwoQuote {
    position: relative; 
    left: 10%; 
    top: 100px; 
    width: 50%; 
    font-size: 50px; 
}

#roomSectionTwoImg {
    position: relative;
    top: -10px; 
    width: 25%; 
    left: 55%; 
}

#roomSectionTwoImgOne {
    width: 100%; 
}

#roomSectionTwoDescription {
    position: relative; 
    left: 20%;
    bottom: 100px; 
    width: 50%; 
    background: rgba(255, 253, 208, 0.4);
    font-size: 20px;  
}