
#mainTitleSection{
   display: flex; 
   justify-content: center;
   align-content: center;
   background-image: url('./Images/ForestImageOne.jpg');
   height: 650px; 
}

#mainTitleSectionText {
    position: relative;
    top: 50%; 
    color: white; 
}

#mainSectionDivideOne {
height: 650px
}


#mainSubSectionDivideOne {
    position: relative; 
    background-color: white; 
    width: 35%; 
    top: 20%; 
    left: 10%; 
    z-index: 26
}

#mainSubSectionDivideTwo {
   position:relative;
   top: -20%; 
   display:flex;
   justify-content: center;
}

#imgSubSectionDivideTwo {
    height: 50%; 
}

@media (max-width: 900px){
    #mainSectionDivideOne {
        height: 100%
        }
    #mainSectionDivideOne {
        display: grid; 
        justify-content: center;
    }
    #mainSubSectionDivideOne, #mainSubSectionDivideTwo{
        position: static; 
    }
    #mainSubSectionDivideOne{
        width: 100%; 
    }
   
    #imgSubSectionDivideTwo{
        height: 100%;
        width: 100%; 
    }
}