#mainTitleSection{
   display: flex; 
   justify-content: center;
   align-content: center;
   background-image: url('./Images/ForestImageOne.jpg');
   height: 650px; 
}

#mainTitleSectionText {
    position: relative;
    top: 50%; 
    color: white; 
}