/* RES MODAL CONTAINER */

#resModalTitleText{
    background-color: rgba(0, 0, 0, .3);
    color: white; 
    padding-top: 1%;
    padding-bottom: 1%;  
}


#resModalClose{
    grid-area: modalClose; 
    font-size: 30px; 
    font-style: bold;
    color: white; 
    position: relative; 
    bottom: 17px;
    right: 47%; 
  }

#resModalClose:hover {
    color: blue;
    cursor: pointer;
}

#resModalTitle{
    grid-area: resModalTitle;
    background-image: url('../../Images/HotelExteriorOne.jpg');
    background-size: cover; 
    padding-top: 3%;
    padding-bottom: 3%; 
    width: 100%; 
}

#resModalCheckIn{
    grid-area: resModalCheckIn;
}

#resModalCheckOut{
    grid-area: resModalCheckOut;
}

#resModalPrice{
    grid-area: resModalPrice; 
}

#resModalGuestCount{
    grid-area: resModalGuests
}

#resModalView{
    grid-area: resModalView;
}

#resModalPet{
    grid-area: resModalPets;

}

#resModalSubmitButton{
    grid-area: resModalButton; 
}
/* NAVIGATION MODAL CONTAINER */
#navModalClose{
    font-size: 36px;
    color: black;
    padding-left: 2%; 
}

#navModalClose:hover{
    color: blue;
    cursor: pointer;
}

#modalNavLinks {
    position: relative; 
    top: 20%; 
    display: grid;
    justify-items: center;
}

.navLink {
    text-decoration: none;
    color: black; 
    font-size: 12px; 
}

.navLink:hover{
    color: blue;
}

/* MAIN NAV SEC */

#mainNav {
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-template-areas: 
    "navLogo navTitle navReservations"
    "navLogo navLinks navReservations";
    margin-top: 2%; 
   
}

#navLogo {
    grid-area: navLogo;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#KeystoneLogo {
    width: 20%;
    height: auto;

}

#navTitle {
    grid-area: navTitle;
    justify-content: center;

}

#navLinks {
    grid-area: navLinks;
    display: flex; 
    justify-content: space-evenly;
}


#navReservations {
    grid-area: navReservations;
    display: grid; 
    justify-content: center;
    align-items: center;

}

#navMenuButton{
    display: none; 
    background-color: white;
    color: black; 
    padding: 10%; 
    border: 2px solid black;
    height: 100%; 
}

#navMenuButton:hover {
    background-color: black;
    color: white; 
    border: 2px solid white; 
    cursor: pointer;
}

#navResButton{
    background-color: white;
    color: black; 
    padding: 10%; 
    border: 2px solid black;
}

#navResButton:hover {
    background-color: black;
    color: white; 
    border: 2px solid white; 
    cursor: pointer;
}

@media (max-width: 900px){
    /* RES MODAL CONTAINER */
    #resModalTitle{
        padding-top: 4%;
        padding-bottom: 4%; 
    }

    /* MAIN NAV SEC */
    #mainNav {
        grid-template-areas: 
        "navLogo navTitle navReservations"
        "navLogo navTitle navReservations";
        align-items: center; 
    }
    #navLinks{
        display: none; 
    }
    #navMenuButton{
        display: block; 
        margin-bottom: 2%; 
    }
    #navReservations{
        grid-template-rows: 1fr 1fr; 
    }
}

@media (max-height: 500px){
    #modalNavLinks{
        top: 0%;
    }
}