#mainNav {
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    text-align: center;
    grid-template-areas: 
    "navLogo navTitle navReservations"
    "navLogo navLinks navReservations";
}

#navLogo {
    grid-area: navLogo;
    background-color: cyan; 
    justify-content: center;
}

#navTitle {
    grid-area: navTitle;
    background-color: blueviolet;
    justify-content: center;
}

#navLinks {
    grid-area: navLinks;
    background-color: coral;
    justify-content: center;
    display: flex; 
}

#navReservations {
    grid-area: navReservations;
    background-color: darkcyan;
    justify-content: center;
}